<%= link_to "See student actions", student_actions_path %>
<div class="student-container">
	<div class="message"></div>
	<% @students.each do |s| %>
	<div class="box student" data-student-id="<%= s.id %>">
		<%= s.name.capitalize %>
	</div>
	<% end %>
</div>
<div class="action-submit-buttons">
	<% ActionType.all.each do |a| %>
		<button class="submit" data-action-type="<%= a.name %>"><%= a.name %></button>
	<% end %>
</div>

<div id="overlay"></div>
<div id="fade"></div>
