<%= form_for(@student_action) do |f| %>
  <% if @student_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_action.errors.count, "error") %> prohibited this student_action from being saved:</h2>

      <ul>
      <% @student_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_type_id %><br>
    <%= f.text_field :action_type_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
