<h1>Student Actions</h1>
<%= link_to "Back to live class", classroom_path %>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action type</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @student_actions.each do |student_action| %>
      <tr>
        <td><%= student_action.created_at.strftime('%m/%e/%y') %></td>
        <td><%= student_action.action_type.name %></td>
        <td><%= student_action.student.name %></td>
        <td><%= link_to "Delete", student_action_path(student_action), method: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
